body {
    background-color: #517397;
}

.mainContainer {
    height: 95%;
    width: 95%;
    margin: 2.5% auto;
    border: 2px solid white;
    position: relative;
}

.imgContainer {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 4px;
    border: 2px solid white;
    display: none;
}

.adContainer {
    height: 12%;
    width: 92%;
    position: absolute;
    left: 4%;
    right: 4%;
    border: 2px solid black;
    display: block;
    opacity: 0.95;
}

.adTop {
    top: 140px;
    left: 4%;
    right: 4%;
    display: block;
}

.adBottom {
    bottom: 4px;
    left: 4%;
    right: 4%;
    display: block;
}

.adCenter {
    height: 40%;
    width: 80%;
    top: 30%;
    left: 10%;
    display: block;
}

.controlContainer {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border: 2px solid white;
}

#appImage {
    height: 100%;
    width: 92%;
    position: absolute;
    top: 0px;
    left: 4%;
    right: 4%;
    display: block;
}

#adImage {
    height: 100%;
    width: 100%;
    display: block;
}

#nextButton {
    height: 85%;
    width: 92%;
    position: absolute;
    top: 7.5%;
    bottom: 7.5%;
    left: 4%;
    right: 4%;
    border-radius: 10px;
    font-size: 4em;
}

.introContainer {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0px;
    border: 2px solid white;
}

.formContainer {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0px;
    border: 2px solid white;
    display: none;
    overflow-y: auto;
}

h1 {
    font-size: 5em;
    text-align: center;
}

p {
    font-size: 3.6em;
    text-align: left;
    margin: 10%;
}

.questionText {
    color: white;
    margin: 50px 0 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 1.5;
    font-weight: 100;
}

.choiceLabels {
    margin: 0 0 40px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: 1.5;
    font-weight: 100;
}

.submitBtn {
    height: 85%;
    width: 92%;
    position: absolute;
    top: 7.5%;
    bottom: 7.5%;
    left: 4%;
    right: 4%;
    border-radius: 10px;
    font-size: 4em;
}
/*
input[type=radio] {
    border: 0px;
    width: 2%;
    height: 2em;
}
*/

body {
	font-family: sans-serif;
	font-weight: normal;
	margin: 10px;
}

form {
	margin: 40px 0;
}

div {
	clear: both;
	/*margin: 0 50px;*/
}

label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}